.my-theme {
    --font-color-for-side-bar: #263036;
    --font-color-primary-for-main: #1E1E1E;
    --font-color-secondary-for-main: #263036;
    --color-line-for-side-bar: #1E1E1E;
    --color-line-for-for-main: #000000;
    --color-for-side-bar-border: grey;
    --color-background-for-side-bar: #86A3B4;
    --color-background-for-main-content: #FFFFFF;
    --text-shadow-for-name: 2px 2px 2px #FFF2E1;}