.main-theme {
    --font-color-for-side-bar: #263036;
    --font-color-primary-for-main: #1E1E1E;
    --font-color-secondary-for-main: #263036;
    --color-line-for-side-bar: #1E1E1E;
    --color-line-for-for-main: #000000;
    --color-for-side-bar-border: grey;
    --color-background-for-side-bar: #86A3B4;
    --color-background-for-main-content: #FFFFFF;
    --margin-left-for-side-bar: 40px;
    --margin-top-for-main-content-name: 49px;
    --margin-top-for-main-content-about: 28px;
    --margin-top-for-line-side-bar: 15px;
    --text-shadow-for-name: 2px 2px 2px #FFF2E1;

}

.grid-container {
    display: grid;
    grid-template-columns: 385px 815px;
    grid-template-rows: 1667px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background-for-main-content);
}

.grid-sb {
    border: 1px solid;
    border-color: var(--color-for-side-bar-border);
    position: fixed;
}

.grid-mc {
    position: relative;
    left: 385px;
}

.side-bar {
    background-color: var(--color-background-for-side-bar);
}

.name {
    width: 260px;
    height: 96px;
    margin-top: 58px;
    margin-left: var(--margin-left-for-side-bar);
    text-shadow: var(--text-shadow-for-name);
}

.firs-name {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 48px
}  
 .second-name {
    color: #1C2E8C;
    font-size: 40px;
    line-height: 48px;
 }
    
.photo {
    width: 382px;
    margin-top: 36px;
}   

.side-bar-name {
    margin-left: var(--margin-left-for-side-bar);
    color: var(--font-color-for-side-bar);
    font-size: 32px;
}


.line-sb {
    width: 289px;
    border: 4px solid;
    color: var(--color-line-for-side-bar);
    margin-left: 42px;
    margin-top: var(--margin-top-for-line-side-bar);
}

.list {
    list-style: none;
   
}

.list-contact-item-name {
    font-size: 24px;
    color: var(--font-color-for-side-bar);
}

.list-contact-item-about {
    font-size: 16px;
    color: var(--font-color-for-side-bar); 
}

.list-language-item {
    font-size: 20px; 
}
.language-item-1 {
    margin-top: 23px;
}
.language-item-2 {
    margin-top: 15px;
}

.mc {
    margin-left: 55px;
    margin-right: 54px;
}

.mc-summary {
    margin-top: 58px;
}

.mc-skills, .mc-work, .mc-education {
    margin-top: var(--margin-top-for-main-content-name);
}

.main-content-name {
    width: 659px;
    font-size: 36px;
    color: var(--font-color-primary-for-main);
}

.line-mc {
    width: 659px;
    border: 4px solid;
    color: var(--color-line-for-for-main);
    margin-left: 0px;
    margin-top: var(--margin-top-for-main-content-about);
}

.main-content-about {
    font-size: 16px;
    color: var(--font-color-secondary-for-main);
    margin-top: var(--margin-top-for-main-content-about);
    width: 706px;
}

table {
    width: 621px;
    height: 84px;
    color: var(--font-color-secondary-for-main);
}
